/*Main styling

Contents

	1. General styling: line 9-18
	2. Nav Bar Styling: line 19-111 
	3. Landing page styling: line 112-254
	4. Project page styling: line 255+
	5. Slide Show styling: line xx-xx
	6. CSS animations: line xx-xx*/

/*General Styling*/

body {
	background-color: #ededed;	
	margin: 0;
	display: flex;
	flex-direction: column;
	/*height: 3000px;*/
}

/*Navigation Bar Styling*/

#header {
	width: 100vw;
	display: flex;
	justify-content: center;
	padding: 0px 0px 0px 0px;
	z-index: 1;
	/*display: none;*/

}

a {
	font-family: 'Montserrat', sans-serif;
	text-decoration: none;
	color: white;
}
.logo{
	height: 20px;
	/*padding-right: 20px;*/
	animation: 0.5s ease-out 0s 1 slideInFromLeft;
}

.nav-down {
	position: fixed;
    top: 0px;
    transition: top 0.1s ease-in-out;
    background-color: #22262c;
    opacity: 0.85;
}

.nav-up {
	position: absolute;
    top: -80px;
    transition: top 0.1s ease-in-out;
    max-width: 100%;
}

.navBar {
	width: 100vw;
	padding: 0vh 8vw 0vw 8vw;
	/*display: flex;*/
	}

#projectNavBar {
	background-color: #1b1b1b;
	padding: 0px 100px 0px 100px;
}

#headerBranding {
	opacity: 1.0;
	float: left;
	color: white;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	animation: 0.5s ease-out 0s 1 slideInFromLeft;
}

.navBar ul{
	list-style-type: none;
	margin: 0;
    padding: 0;
    animation: 0.5s ease-out 0s 1 slideInFromRight;
}

.navBar li{
	float: left;
}

.navBar li a:hover:not(.active) {
	background-color: #343434;
}

#active {
    color: #55bd86;
    font-weight: 700;
}

.navBar li a{
	opacity: 1.0;
	display: block;
	padding: 2vw 2vw 2vw 2vw;
	color: white;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-size: 0.75em;
}

#navBarRight {
	float: right;
	padding-right: 20px;
}

#navBarLeft {
	float: left;
}

/*Hamburger menu styling*/

#hamburgercontainer {
    display: none;
    cursor: pointer;
    padding-top: 1.5em;
    float: right;
    /*background-color: red;*/
}

#hamburgernav {

	    display: none;
   		position: absolute;
   		right: 00px;
    	background-color: #22262c;
    	/*min-width: 100%;*/
    	z-index: 1;
    	/*margin-left: 7vw;*/
		/*margin-right: 7vw;*/
    	padding-right: 7vw;
    	padding-left: 7vw;
    	/*padding: 0vw 8vw 0vw 8vw;*/
    	/*opacity: 1;*/
		}

#hamburgernav li a {
	padding: 1em 1em 1em 1em;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
    border-radius: 100px;
}

/* Rotate first bar */
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}

/* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}

/*Landing page responsive styling*/

.protxxlanding {
	width: 100vw;
	max-width: 100%;
	background-color: #22262c;
	font-family: 'Montserrat', sans-serif;
	color: white;
	font-size: 1em;
	display: inline-block;
	overflow: hidden;

}

.herotext{
	min-width: 15vw; 
	margin: 0px 0px 0px 8vw;
	overflow: hidden;
	display: inline-block;
	padding-top: 20vw;
	max-width: 25vw;
}

#herotext {
	text-align: justify;
}

#herotext h1{
	font-family: 'Montserrat', sans-serif;
	font-size: 1.75em;
	text-transform: uppercase;
	font-weight: 700;
	text-align: left;
}

#herotext p {
	text-transform: uppercase;
}

.heroimage{
	max-height: 100vh;
	display: inline-block;
	float: right;
	max-width: 62vw;
}

.landingimage{
	max-height: 100%;
	float: right;
	max-width: 100%;
}

.landinglogo{
	width: 100%;
	vertical-align: middle;
}

/*problem panel*/

#problemheader {
	max-width: 100%;
	overflow: hidden;
	/*min-height: 10vh;*/
	background-color: #e7e7e7;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.5em;
	color: #22262c;
	text-transform: uppercase;
	font-weight: 700;
	padding: 0px 8vw 0px 8vw;
	text-align: center;
}

#problemarrow {
	width: 100%;
	background-color: white;
}

#probarrow {
	width: 5em;
	 display: block;
    margin-left: auto;
    margin-right: auto;
}

#problemcontainer {
	background-color: white;
	/*min-height: 30vh;*/
	display: inline-flex;
	padding: 2vw 8vw 0vw 8vw;

}

.problemh1 {
	font-family: 'Montserrat', sans-serif;
	font-size: 1.25em;
	color: #f31e33;
	text-transform: uppercase;
	font-weight: 700;
	text-align: center;
}

#problem1 {
	-webkit-flex: 1;
    flex: 1;

    display: flex;
    flex-direction: column;
    padding-bottom: 2em;
}

.problemicon {
	width: 10em;
	margin-left: auto;
    margin-right: auto;
}

.problemitem {
	display: inline-flex;
	flex-direction: row;
}

.problemitemicon {
	width: 10vw;
	height: 10vw;

}

.problemitemtext {
	font-family: 'Montserrat', sans-serif;
	font-size: 1em;
	color: #3d434e;
	text-transform: uppercase;
	font-weight: 400;
	text-align: left;
	padding: 2vw 0vw 0vw 2vw;

}


#problem2 {
	-webkit-flex: 1;
    flex: 1;
    margin: 0px 4vw 0px 4vw;
    display: flex;
    flex-direction: column;
     padding-bottom: 2em;

}

#problem3 {
	  -webkit-flex: 1;
      flex: 1;
      display: flex;
    flex-direction: column;
     padding-bottom: 2em;

}

/*solution panel*/

#solutionheader {
	max-width: 100%;
	overflow: hidden;
	/*min-height: 10vh;*/
	background-color: #3d434e;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.5em;
	color: white;
	text-transform: uppercase;
	font-weight: 700;
	padding: 0px 8vw 0px 8vw;
	text-align: center;
}

#solutionarrow {
	width: 100%;
	background-color: #22262c;
}

#solarrow {
	width: 5em;
	 display: block;
    margin-left: auto;
    margin-right: auto;
}

#solutioncontainer {
	background-color: #22262c;
	/*min-height: 30vh;*/
	display: inline-flex;
	padding: 2vw 8vw 2vw 8vw;

}

.solutionh1 {
	font-family: 'Montserrat', sans-serif;
	font-size: 1.25em;
	color: #0fce84;
	text-transform: uppercase;
	font-weight: 700;
	text-align: center;
	min-height: 5vh;
}

#solution1 {
	-webkit-flex: 1;
    flex: 1;

    display: flex;
    flex-direction: column;
    padding-bottom: 2em;
}

.solutionicon {
	width: 10em;
	margin-left: auto;
    margin-right: auto;
}

.solutionitem {
	display: inline-flex;
	flex-direction: row;
}

.solutionitemicon {
	width: 10vw;
	height: 10vw;
}

.solutionitemtext {
	font-family: 'Montserrat', sans-serif;
	font-size: 1em;
	color: white;
	text-transform: uppercase;
	font-weight: 400;
	text-align: left;
	padding: 2vw 0vw 0vw 2vw;

}


#solution2 {
	-webkit-flex: 1;
    flex: 1;
    margin: 0px 4vw 0px 4vw;
    display: flex;
    flex-direction: column;
    padding-bottom: 2em;

}

#solution3 {
	  -webkit-flex: 1;
      flex: 1;
      display: flex;
    flex-direction: column;
    padding-bottom: 2em;
}

/*Solution Showcase*/

#showcase {
	background-color: white;
}

#showcaseHeader {
	background-color: white;
}

#showcaseHeaderBox {
	margin-left: 8vw;
	margin-right: 8vw;
	border-bottom-style: solid;
	border-bottom-color: #22262c;
	border-bottom-width: 2px;
	padding-top: 4vh;
	/*min-height: 30vh;*/
}

#showcaseHeaderBox h1{
	font-family: 'Montserrat', sans-serif;
	font-size: 3em;
	color: #3d434e;
	text-transform: uppercase;
	font-weight: 700;
	text-align: left;
}

#showcaseImg {
	width: 300px;
	max-height: 100%;
}

#showcaseLeftText {
	background-color: white;
	margin-left: 8vw;
	margin-right: 8vw;
	display: flex;
	flex-direction: row;
	border-bottom-style: solid;
	border-bottom-color: #b7bdc8;
	border-bottom-width: 2px;
	padding: 8vh 0vw 8vh 0vw;
}

#showcaseLeftTextbox {
	font-family: 'Montserrat', sans-serif;
	color: #3d434e;
	text-transform: uppercase;
	text-align: justify;
	padding-right: 4vw;

}

#showcaseLeftTextbox h1 {
	text-align: left;
}

#showcaseLeftImg {
	max-width: 100%
	max-height: 100%;

	width: 25vw;
	/*padding-top: 4vh;*/
	padding-right: 4vw;
	display: inline-block;

}

#showcaseRightText {
	background-color: white;
	margin-left: 8vw;
	margin-right: 8vw;
	display: flex;
	flex-direction: row-reverse;
	padding: 8vh 0vw 8vh 0vw;
}

#showcaseRightTextbox {
	font-family: 'Montserrat', sans-serif;
	color: #3d434e;
	text-transform: uppercase;
	text-align: justify;
}

#showcaseRightTextbox h1 {
	text-align: left;
}

#showcaseRightImg {
	max-width: 100%
	max-height: 100%;

	width: 25vw;
	padding-right: 4vw;
	display: inline-block;

}

/*News Styling*/

#newscontainer {
	background-color: #e7e7e7;
	padding: 1em 8vw 1em 8vw;
	/*min-height: 30vh;*/
	/*display: flex;*/
	/*flex-direction: row;*/
	font-family: 'Montserrat', sans-serif;
	color: #3d434e;
	text-transform: uppercase;
	text-align: left;
}
.slicknews {
	max-width: 100%;
}

.newsstack {
	display: flex;
	flex-direction: row;
	-webkit-flex: 1;
    flex: 1;
}

#newscontainer h1 {
	font-size: 0.8em;
	/*padding-top: 1em;*/
	min-height: 60px;
	text-align: center;
}

#newscontainer p {
	font-size: 0.7em;
	text-align: justify;
	min-height: 130px;
	margin: 0em 0em 0em
}

.newsitem {
	/*background-color: red;*/
	min-height: 100%;
	-webkit-flex: 1;
    flex: 1;
    padding: 2vh 2vw 2vh 2vw;
}

.newsimage {
	max-height: 90px;
	max-width: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.newsimagecontainer {
	height: 100px;
}

.newsbutton {
	font-family: 'Montserrat', sans-serif;
	color: white;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 1em;
	margin-top: 1em;
	padding: 0.5em 0.5em 0.5em 0.5em;
	/*width: 100%;*/
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	background-color: #ced0d3;
	border-radius: 250px;
}

/*hiring*/

#hiring {
	/*height: 100px;*/
	background-color: #fc0d1c;
	padding: 1em 8vw 1em 8vw;
	/*min-height: 30vh;*/
	display: flex;
	flex-direction: row;
	font-family: 'Montserrat', sans-serif;
	color: white;
	text-transform: uppercase;
	text-align: left;
}

@media screen and (max-width: 750px) {
	#hiring {
		flex-direction: column;
	}
}

@media screen and (max-width: 1400px) {
	#hiringText {
		padding: 0em 0em 0em 0em;
		font-size: 0.5em;
	}

	#hiringImage {
		justify-content: center;
		padding-right: 0em;
	}
}

#hiringIMG {
	max-height: 200px;
	padding: 1em 0em 1em 0em;
}

#hiringImage {
	/*padding-right: 4em;*/
	display: flex;
	flex: 1;
	justify-content: center;
}

#hiringText {
	/*display: flex;*/
	/*flex-direction: column;*/
	align-items: center;
	padding: 1em 3em 0em 3em;
	/*margin-left: 4em;*/
	text-align: justify;
	font-size: 0.5em;
	flex: 2;
	/*justify-content: space-around;*/
}

#hiringButton {
	max-width: 50%;
	/*display: block;*/
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	border-radius: 1000px;
	height: 4em;
	margin-top: 3em;
	font-family: 'Montserrat', sans-serif;
	/*color: red;*/
	text-transform: uppercase;
	text-align: center;
	min-width: 14em;
	padding: 1em 2em 0em 2em;
}

#hiringButton a{
	margin: 0em 0em 0em 0em;
	font-size: 2.5em;
	color: #fc0d1c;
	font-weight: 700;
}



/*Map styling*/

#mapcontainer{
	max-width: 100%;
	width: 100vw;
	height: 20.5vw;
}

#mapimg {
	width: 100%;
}

#mapcontainer h1{
	font-family: 'Montserrat', sans-serif;
	font-size: 1.5em;
	color: #22262c;
	position: absolute;
	text-transform: uppercase;
	font-weight: 700;
	padding: 0px 8vw 0px 8vw;
	text-align: left;
}

/*Team*/

#teamheader {
	max-width: 100%;
	overflow: hidden;
	background-color: #3d434e;
	font-family: 'Montserrat', sans-serif;
	color: white;
	text-transform: uppercase;
	font-weight: 700;
	padding: 0px 8vw 0px 8vw;
}

#teamheader h1{
	font-size: 1.5em;
}

#teamcontainer {
	padding: 0vw 0vw 1em 0vw;
	background-color: #22262c;
}

.teamrow {
	padding: 0px 8vw 0px 8vw;
	display: flex;
	flex-direction: row;
}

.teamrow2 {
	display: none;
}

.teamimg {
	width: 70%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.teammember {

	/*background-color: red;*/
	/*height: 40vh;*/
	-webkit-flex: 1;
    flex: 1;
    margin: 1vw 1vw 1vw 1vw;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
}

.teammember h1{
	font-weight: 700;
	font-size: 1em;
	color: #f31e33;
	margin: 0.5em 0px 0px 0px;
}

.teammember h2 {
	font-weight: 400;
	font-size: 0.6em;
	color: white;
	margin: 0.5em 0px 0.5em 0px;
}

/*Advisors*/

#advisorheader {
	max-width: 100%;
	overflow: hidden;
	background-color: #e7e7e7;
	font-family: 'Montserrat', sans-serif;
	color: #22262c;
	text-transform: uppercase;
	font-weight: 700;
	padding: 0px 8vw 0px 8vw;
}

#advisorheader h1{
	font-size: 1.5em;
}

#advisorcontainer {
	padding: 0vw 0vw 1em 0vw;
	background-color: white;
}

.advisorrow {
	padding: 0px 8vw 0px 8vw;
	display: flex;
	flex-direction: row;
}

.advisorrow2 {
	display: none;
}

.advisorimg {
	width: 12vw;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.advisormember {

	/*background-color: red;*/
	/*height: 40vh;*/
	-webkit-flex: 1;
    flex: 1;
    margin: 1vw 1vw 1vw 1vw;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
}

.advisormember h1{
	font-weight: 700;
	font-size: 1em;
	color: #f31e33;
	margin: 0.5em 0px 0px 0px;
}

.advisormember h2 {
	font-weight: 400;
	font-size: 0.6em;
	color: #22262c;
	margin: 0.5em 0px 0.5em 0px;
}

/*Footer styling*/

#footer {
	background-color: #21252b;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 0vw 8vw 0vw 8vw;
}

#footerlogo {
	height: 2em;
    justify-content: flex-start;
    padding: 1.5em 0em 1.5em 0em;
}

.copyright {
	font-family: 'Montserrat', sans-serif;
	color: white;
	text-transform: uppercase;
	text-align: justify;
	padding: 1em 1em 1em 2em;
}

#linkedin {
	height: 3em;
	padding: 1em 0em 0em 4em;
	display: none;
}

#contact {
	display: block;
	float: right;
	background-color: red;
	border-radius: 1000px;
	height: 2.4em;
	margin: 1.5em 0em 1.5em 0em;
	font-family: 'Montserrat', sans-serif;
	color: white;
	text-transform: uppercase;
	text-align: center;
	min-width: 14em;
	padding: 0.2em 1em 0em 1em;

}

#contact a{
	margin: 0em 0em 0em 0em;
	font-size: 1.5em;
	color: #21252b;
	font-weight: 700;
}

@media screen and (max-width: 1500px) {
	#herotext h1 {
		font-size: 1.5em;
	}

	#herotext p {
		font-size: 0.7em;
	}

	#showcaseLeftImg {
		width: 35vw;
	}

#showcaseRightImg {
		width: 35vw;
	}

.newsstack {
	display: flex;
	flex-direction: column;
}

.newsitem {
	min-height: 0px;
}

/*#newscontainer p{
	min-height: 100px;
}*/

}

@media screen and (max-width: 1400px) {

	.navBar ul{
	display: none;
	}

	.logo{
		height: 30px;
		padding-top: 1.5em;
	}

	#hamburgercontainer {
    display: inline-block;
}
	.navBar {
		padding-bottom: 1em;
	}

	#headerBranding {
		align-items: flex-start;
	}

}

@media screen and (max-width: 1200px) {

	.herotext {
		padding-top: 15vw;
	}

	#herotext {
		text-align: left;
	}

	#problemheader {
		font-size: 1em;
	}

	#solutionheader {
		font-size: 1em;
	}

	#showcaseHeaderBox h1{
		font-size: 2em;
	}

	.navBar li a {
		padding: 1vw 1vw 1vw 1vw;
	}

		/*showcase responsive*/

	#showcaseLeftText {
		flex-direction: column;
		padding-top: 1em;
	}

	#showcaseLeftImgBox {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		padding-top: 1em;
	}

	#showcaseLeftImg {
		width: 40vw;
	}


	#showcaseRightText {
		flex-direction: column;
		padding-top: 1em;
	}

	#showcaseRightImgBox {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		padding-top: 1em;
	}

	#showcaseRightImg {
		width: 40vw;
	}

	/*Problem/solution stack*/

	.problemitem {
		flex-direction: column;
		/*min-height: 30vh;*/
	}

	.problemitemicon {
		    display: block;
    		margin-left: auto;
    		margin-right: auto;
    		width: 6vw;
    		height: 6vw;
	}

	.problemitemtext {
		font-size: 0.8em;
		padding: 0vw 0vw 0vw 2vw;
	}

	.solutionitem {
		flex-direction: column;
		/*min-height: 30vh;*/
	}

	.solutionitemicon {
		    display: block;
    		margin-left: auto;
    		margin-right: auto;
    		width: 6vw;
    		height: 6vw;
	}

	.solutionitemtext {
		font-size: 0.8em;
		padding: 0vw 0vw 0vw 2vw;
	}
}

/*vertical stacking*/

@media screen and (max-width: 950px) {
	.herotext {
		min-width: 80vw;
		padding-top: 7em;
	}

	.heroimage {
		max-width: 80vw;
	}

	#herotext h1 {
		font-size: 2em;
	}

}

/*IE scaling fix (eeeew)*/
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active){

}

@media all and (max-width: 1500px) and (-ms-high-contrast: none), (-ms-high-contrast: active){
/*	#newscontainer {
		min-height: 90vh;
	}*/
}


@media screen\9 and (max-width: 100px){
/*	#newscontainer {
		min-height: 90vh;
	}*/
}

@media all and (max-width: 750px) and (-ms-high-contrast: none), (-ms-high-contrast: active){
	#problem1 {
	min-height: 60vh;
	}

	#problem2 {
		min-height: 60vh;
	}

	#problem3{
		min-height: 60vh;
	}

	#solution1 {
		min-height: 60vh;
	}

	#solution2 {
		min-height: 60vh;
	}

	#solution3{
		min-height: 60vh;
	}

	.newsitem {
		min-height: 32vh;
	}

/*	#newscontainer {
		min-height: 180vh;
	}*/
}

@media screen\9 and (max-width: 750px){

	#problem1 {
		min-height: 60vh;
	}

	#problem2 {
		min-height: 60vh;
	}

	#problem3{
		min-height: 60vh;
	}

	#solution1 {
		min-height: 60vh;
	}

	#solution2 {
		min-height: 60vh;
	}

	#solution3{
		min-height: 60vh;
	}

	.newsitem {
		min-height: 32vh;
	}

/*	#newscontainer {
		min-height: 180vh;
	}*/
}

@media screen and (max-width: 750px) {

	#problemcontainer {
		flex-direction: column;
	}

	#solutioncontainer {
		flex-direction: column;
	}

	#problem2 {
		margin: 0px 0px 0px 0px;
	}

	#solution2 {
		margin: 0px 0px 0px 0px;
	}

	.problemitemicon {
		width: 12vw;
		height: 12vw;
	}

	.solutionitemicon {
		width: 12vw;
		height: 12vw;
	}

	.problemitemtext {
		font-size: 1em;
		padding: 0px 0px 0px 0px;
	}

	.solutionitemtext {
		font-size: 1em;
		padding: 0px 0px 0px 0px;
	}

	.problemitem {
		min-height: 0px;
	}

	.solutionitem {
		min-height: 0px;
	}

	#solutionheader {
		font-size: 1em;
	}

/*	#newscontainer {
		flex-direction: column;
	}*/

/*	#middlenewsitem {
	margin: 0vw 0vw 0vw 0vw;
}*/

	#mapcontainer h1{
		font-size: 1em;
	}

		.teamrow {
		display: none;
	}

	.teamrow2 {
		display: flex;
		flex-direction: row;
		padding: 2em 8vw 0px 8vw;
	}

	.advisorrow {
		display: none;
	}

	.advisorrow2 {
		display: flex;
		flex-direction: row;
		padding: 0px 8vw 0px 8vw;
	}

	.advisorimg {
	width: 70%;
}

	#singleadvisorimg {
	width: 25vw;
	margin-top: 1em;
	}


	.teammember h1{
		font-size: 0.8em;
	}

	.teammember h2 {
		font-size: 0.4em;
	}


	#footer {
	flex-direction: column;
	}

	#newscontainer h1 {
     min-height: 0px; 
	}

	#newscontainer p {
		min-height: 0px;
	}

	#newscontainer {
		padding-bottom: 0em;
	}

	.newsbutton {
		max-width: 70%;
	}

}

@media screen and (max-width: 400px) {
	

	#herotext h1 {
		font-size: 1em;
	}

	#herotext p {
		font-size: 0.5em;
	}

@media screen and (max-width: 600px) {

	#problemheader {
		font-size: 0.5em;
	}

	#solutionheader {
		font-size: 0.5em;
	}

	.problemh1 {
		font-size: 1em;
	}
	.problemicon {
		width: 5em;
	}
	.problemitemtext{
		font-size: 0.6em;
	}

	.solutionh1 {
		font-size: 1em;
	}
	.solutionicon {
		width: 5em;
	}
	.solutionitemtext{
		font-size: 0.6em;
	}

	#showcaseHeaderBox h1 {
		font-size: 1em;
	}

	#showcaseImg {
		width: 80vw;
	}

	#showcaseLeftTextbox h1{
		font-size: 1em;
	}

	#showcaseLeftTextbox h2{
		font-size: 0.8em;
	}

	#showcaseLeftTextbox p {
		font-size: 0.6em;
	}


	#showcaseRightTextbox h1{
		font-size: 1em;
	}

	#showcaseRightTextbox h2{
		font-size: 0.8em;
	}

	#showcaseRightTextbox p {
		font-size: 0.6em;
	}

	#showcaseRightImg {
		width: 80vw;
		padding-top: 2em;
	}

	#showcaseLeftImg {
		width: 80vw;
		padding-top: 2em;
	}

	.copyright {
		font-size: 0.6em;
	}

}



/*CSS animations*/

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-30%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(10%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
